@model Sample.NotificationProvider.Common.EmailModels.PasswordResetEmailModel

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <title>Password Reset</title>
        <style>
            html {
                font-family: 'Open Sans', sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Password Reset</h1>
        <p>Dear @Model.Recipient.GivenName @Model.Recipient.FamilyName,</p>
        <p>We have received a request to reset your password. If you did not initiate this request, please ignore this email.</p>
        <p>To proceed with the password reset, please click on the following link:</p>
        <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>
        <p>Please note that this password reset link will expire on @Model.ExpirationDate.</p>
        <p>If you have any questions or need assistance, please contact our support team at @Model.ContactInformation.</p>
        <p>Best regards,</p>
        <p>Your Company</p>
    </body>
</html>
